---
import Header from "../components/Header.astro";
import Cursor from "../components/Cursor.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width" />
		<title>Home</title>
	</head>
	<body class="cursor-none h-screen overflow-hidden 	 ">
		
		<Cursor/>
		<content class="h-screen">
			
		
		<main class=" h-full  overflow-hidden flex flex-col justify-between  items-center pb-16">
			<!-- animate-loop -->
			<Header />
			<div class=" w-screen ">	
				<h2 class="text-[300px]  whitespace-nowrap font-sansita   animate-loop"> 
					<span class="inline-block">HI Welcome, let’s see some of my work.</span>
					<span class="inline-block">HI Welcome, let’s see some of my work.</span></h2>

			</div>
			

				<a href="/workpage/" class="flex justify-center items-center border-2 py-3 px-8 rounded-xl border-black font-poppins mt-10">Take a look</a>
		</main>
		
		
		</content>
		
		
	</body>
</html>
