---

import Header from "../components/Header.astro";
import Cursor from "../components/Cursor.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>



<body class=" w-screen h-screen ">
<Header/>

    <main class=" flex flex-col p-20">
        <h2 class="pb-40 text-[96px] font-popins flex flex-col">
            <span>some of </span>
            <span> graphic design projects</span>
           
        </h2>
        <ul class="flex flex-col w-screen justify-center items-center">
        <li class="flex flex-row w-screen h-96 gap-7 ">
        
                <img class="h-96 w-96 rounded-xl" src="../../public/blog-placeholder-2.jpg" alt="">

            
                <div class="flex flex-col justify-between items-start">
               <div>
                <h3 class="font-poppins text-5xl font-light text-">vector illustrations</h3>
                <p class="font-poppins text-2xl"> some of academic and personal projects</p>
                </div> 
                
                <button class="  flex justify-center items-center border-2 py-2 px-8 rounded-lg border-black font-poppins "> <a href="">see more</a> </button>
            </div>
            
        </li>

        <li>

        </li>

        <li>

        </li>
    </ul>
    </main>
    
</body>
</html>